{% include 'header.html' %}
<br>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Notes</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Old Question</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Chapter</th>
          <th scope="col">Download</th>
        </tr>
      </thead>
      <tbody>
        {% for models in model %}
        <tr>
          <td>{{models.Chapter}} </td>
          <td><a href="{{models.Note_file.url}}">{{models.Note_file}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
      
    <br>
    

  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Year</th>
          <th scope="col">Download</th>
        </tr>
      </thead>
      <tbody>
        {% for models in modela %}
        <tr>
          <td>{{models.year}} </td>
          <td><a href="{{models.Question_file.url}}">{{models.Question_file}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
<br>
<hr>
{% include 'footer.html' %}
