<h1 style="text-align: center;">Contents</h1>
<table class="table table-striped table-bordered border-primary">
  <thead>
    <tr>
      <th scope="col">Subject</th>
      <th scope="col">Microsyllabus</th>
      <th scope="col">Book</th>
    </tr>
  </thead>
  <tbody>
    {% for x in model%}
    <tr>
      <td>{{x.Subject_Name}}</td>
      <td><a href="{{x.MicroSyllabus_file.url}}">Download</a></td>
      <td><a href="{{x.Book_file.url}}">Download</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
