{% load static %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <a href="/see/First"><img src="{% static 'img/1S.jpg' %}" class="card-img-top" alt="..."></a>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a href=""><img src="{% static 'img/2S.jpg' %}" class="card-img-top" alt="..."></a>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a href=""><img src="{% static 'img/3S.jpg' %}" class="card-img-top" alt="..."></a>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a href=""><img src="{% static 'img/4S.jpg' %}" class="card-img-top" alt="..."></a>
      </div>
    </div>
    <div class="col">
        <div class="card">
            <a href=""><img src="{% static 'img/5S.jpg' %}" class="card-img-top" alt="..."></a>
        </div>
      </div>
      <div class="col">
        <div class="card">
            <a href=""><img src="{% static 'img/6S.jpg' %}" class="card-img-top" alt="..."></a>
        </div>
      </div>
      <div class="col">
        <div class="card">
            <a href=""><img src="{% static 'img/7S.jpg' %}" class="card-img-top" alt="..."></a>
        </div>
      </div>
      <div class="col">
        <div class="card">
            <a href=""><img src="{% static 'img/8S.jpg' %}" class="card-img-top" alt="..."></a>
        </div>
      </div>
  </div>